.search{
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    margin-top: 50px;
    background: #FFFFFF;
    @media screen and (max-width:685px) {
        grid-template-columns: 1fr;
    }
    &-filter{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media screen and (max-width:685px) {
            align-items: center;
        }
        &__container{
            padding: 10px;
            &.time{
                display: flex;
                gap: 10px;
            }
            &__list{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: center;
                &__tag{
                    padding: 5px 15px;
                    border: none;
                    text-align: center;
                    background: #f2f4ff;
                    border-radius: 10px;
                    line-height: 30px;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
        &__stars{
            padding: 10px;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 10px;
            @media screen and (max-width:685px) {
                align-items: center;
            }
            &__star{
                padding: 5px 10px;
                background: #131921;
                border: none;
            }
        }
    }
    &-products{
        padding: 20px;
        &__product{
            padding: 10px;
            display: flex;
            gap: 10px;
            &__img{
                height: 8rem;
                width: 8rem;
                img{
                    object-fit: contain;
                }
            }
        }
    }
}