.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 400px;
    gap: 30px;
    &-logo{
        height: 2rem;
    }
    &-form{
        padding: 18px;
        border: 1px #ddd solid;
        &__container{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__field{
                padding: 8px 12px;
            }
            button[type='submit']{
                padding: 8px 12px;
                background: #f1c862;
                border:none;
                margin: 0 0 15px 0;
                cursor: pointer;
            }
        }
        p{
            font-size: 12px;
            margin: 0 0 10px 0;
        }
    }
    &-toregister{
        font-size: 12px;
        position: relative;
        padding:40px 0 0 0;
        border-top: 1px #ddd solid;
        h4{
            position: absolute;
            top: -10px;
            right: 50px;
            background: #FFFFFF;
            padding: 0 5px;
        }
        &__btn{
            padding: 10px 15px;
            background: #e1e4ea;
            color: #000000;
            margin: 10px 0 0 0;
        }
    }
}